@{
    ViewData["Title"] = "SignUp_Fundraiser_entry";
}

<div style="text-align: center;">
    <h1>The event has been created</h1>
    <h1>and sent to the admin for approval</h1>
</div>
<div style="text-align: center; margin-top: 5%;">
    <a asp-area="" asp-controller="Home" asp-action="SignIn">Sign in</a> to go to your panel or explore our <a asp-area="" asp-controller="Home" asp-action="Index">site</a>
</div>
