@{
    Layout = "";
    ViewData["Title"] = "Create_Event";
}
@model Shahajjokori.Models.PicEvent


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div style="text-align:center">
        <h1>Fundraiser Panel</h1>
    </div>
    <div class="container-fluid" style="margin-top:5%">
        <div class="row">
            <main role="main" class="col-md-3" style="margin-top:2%; margin-bottom:5%;">
                <nav class="nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index","Fundraiser")">User Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create_Event","Fundraiser")">Create Event</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("See_Events","Fundraiser")">See Events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Local Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log out</a>
                        </li>
                    </ul>
                </nav>

            </main>
            <main role="main" class="col-md-8">
                <form enctype="multipart/form-data" asp-action="Create_event_entry" method="post">
                    <div class="form-group row">
                        <label for="exampleInputEmail1">Title</label>
                        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter event name" asp-for="e_title" required>
                    </div>

                    <div class="form-group row">
                        <label for="sel1">Category of the event</label>
                        <select class="form-control" asp-for="e_category">
                            <option value=0>Education</option>
                            <option value=1>Sponsoring</option>
                            <option value=2>Emergency Aid</option>
                            <option value=3>Medical Care</option>
                            <option value=4>Accidents</option>
                            <option value=5>Others</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1">Location</label>
                        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter event location" asp-for="e_location" required>

                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword1">Opening</label>
                        <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Enter event opening date" asp-for="e_opening_date" required>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1">Closing</label>
                        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter event closing date" asp-for="e_closing_date" required>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1">Expected Amount</label>
                        <input type="number" class="form-control" rows="5" id="exampleInputEmail1" placeholder="Enter expected amount for the event" asp-for="e_exp_amount" required>
                    </div>

                    <div class="form-group row">
                        <label>Event Picture</label>
                        <div class="col-md-12">
                            <div class="custom-file">
                                <input class="form-control custom-file-input" id="exampleInputEmail1" asp-for="e_photo">
                                <label class="custom-file-label">Add picture</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1">Event Details</label>
                        <textarea class="form-control" rows="5" id="exampleInputEmail1" placeholder="Write details about the event (not maore than 300 words)" asp-for="e_details" required></textarea>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1">Transaction Details (Write your preferred transaction details here)</label>
                        <textarea class="form-control" rows="5" id="exampleInputEmail1" placeholder="Example:&#10;bKash: 01XXXXXXXXX&#10;Nagad: 01XXXXXXXXX" asp-for="e_trans" required></textarea>
                    </div>

                    <!--<div class="editfield">
                <div class="radio">
                    <span class="label">Choose your preferred medium of mobile banking transaction</span>
                    <div id="field_8">
                        <label><input type="checkbox" name="field_8" id="option_9" value="Yes" onclick="document.getElementById('divUrl1').style.display='block'">bKash</label>
                        <div class="editfield" id="divUrl1" style="display:none">
                            <label for="field_19">Acc/no</label>
                            <input type="text" name="field_19" id="field_19" value="" />
                        </div>
                        <label><input type="checkbox" name="field_8" id="option_9" value="Yes" onclick="document.getElementById('divUrl2').style.display='block'">Nagad</label>
                        <div class="editfield" id="divUrl2" style="display:none">
                            <label for="field_19">Acc/no</label>
                            <input type="text" name="field_19" id="field_19" value="" />
                        </div>
                        <label><input type="checkbox" name="field_8" id="option_9" value="Yes" onclick="document.getElementById('divUrl3').style.display='block'">DBBL-MB</label>
                        <div class="editfield" id="divUrl3" style="display:none">
                            <label for="field_19">Acc/no</label>
                            <input type="text" name="field_19" id="field_19" value="" />
                        </div>

                    </div>
                </div>
                <div id="contain">
                    Add bank accounts if needed <br> <br>
                    <div>
                        <input type="text" name='+value+' []>
                        <button type="button" class="addService">Add More</button>
                    </div>
                </div>


                <div id="div2"></div>

                <input type="button" id="btnok" onclick="addText();" value="text" />
                        <br />



    </div>-->
                    <label>Information provided above can not be changed, so check again before submitting for approval. Thank you.</label>
                    <div class="form-check">

                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">Everything is checked and conditions are accepted.</label>
                    </div>
                    <button type="submit" class="btn btn-primary" href="@Url.Action("Create_event_entry","Fundraiser")" style="margin-top:5%">Create</button>
                </form>

            </main>

        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Shahajjokori - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });

            $(document).on('click', '.addService', function () {
                var html = '<div><input type="text" name="myInput"><button type="button" class="addService">Add More</button></div>';
                $(this).parent().append(html);
            });

        
    </script>
   
</body>
</html>



