@{
    ViewData["Title"] = "Sign In";
}
@model Shahajjokori.Models.Fundraiser
<div style="text-align: center;">
    <h1>@ViewData["Title"]</h1>
    <h5>@ViewData["message"]</h5>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 login-section-wrapper">
            <div class="login-wrapper my-auto">
                <form asp-action="SignIn_Panel" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter your email" asp-for="f_email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter your passsword" asp-for="f_password">
                    </div>
                    <button type="submit" class="btn btn-primary" href="@Url.Action("SignIn_Panel","Home")" style="margin-top:5%">Sign in</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="~/images/Sign-up-Fundraiser.jpg" alt="logo" class="logo">
        </div>
    </div>
</div>


