@{
}
<div style="background: #FDF5E6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="whoarewe" style=" background:#FDF5E6;">
                <h1>Who Are We</h1>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="whoarewe" style=" background:#FDF5E6;margin-bottom:10%; white-space: pre-wrap;">
                <p style="font-size:larger">@ViewBag.whoarewe</p>
            </div>
            <div class="col-md-6" id="whoarewe" style=" background:#FDF5E6; margin-top:5%;">
                <img class="d-block w-100" src="~/images/whoarewe-pic.jpg" alt="Who are we">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="howwework" style="margin-bottom:10%; white-space: pre-wrap;">
            <h1>How Shahajjokori Works</h1>
            <p style="font-size:larger">@ViewBag.howWeWork</p>
        </div>
    </div>
</div>
<div style="background: #FDF5E6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="helpus" style="margin-bottom:10%; white-space: pre-wrap;">
                <h1>Would You Like to Help Us?!</h1>
                <p style="font-size:larger">@ViewBag.helpus@ViewBag.contact</p>

            </div>
        </div>
    </div>
</div>

